{% extends 'base.html' %}

{% block title %}
Home page
{% endblock title %}

{% block content %}
  <form name="filterForm" action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <p>Filter by total job line item amount remaining to be invoiced</p>
    <div class="row g-3 align-items-end">
      <div class="col-auto">
        <label for="minimumValue" class="col-form-label">Min</label>
        <input type="number" step="0.01" class="form-control" id="minimumValue" name="min" min="0">
      </div>
      <div class="col-auto">
        <label for="maximumValue" class="col-form-label">Max</label>
        <input type="number" step="0.01" class="form-control" id="maximumValue" name="max" min="0">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
  <table class="table accordion">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Business Name</th>
            <th scope="col">Total job line item amount</th>
            <th scope="col">Total job line item amount remaining to be invoiced</th>
            <th scope="col">Total invoice line item amount</th>
        </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr class="{% if customer.invoice_lists.count != 0 or customer.payment_lists != none %} accordion-item {% endif %}" id="heading{{ forloop.counter }}" role="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ customer.name }}</td>
          <td>{{ customer.total_job_line_item_amount|floatformat:"2" }}</td>
          <td>{{ customer.total_job_line_item_amount_remaining_to_be_invoiced|floatformat:"2" }}</td>
          <td>{{ customer.total_invoice_line_item_amount|floatformat:"2" }}</td>
        </tr>
        {% if customer.invoice_lists.count != 0 or customer.payment_lists != none %}
        <tr id="collapse{{ forloop.counter }}" class="accordion-item accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
          <td colspan="5">
            <div class="d-flex justify-content-evenly">
              {% if customer.invoice_lists.count != 0 %}
              <div class="mb-3">
                <p>This customer invoice ids:</p>
                {% for invoice in customer.invoice_lists %}
                  {{ invoice.id }}
                {% endfor %}
              </div>
              {% endif %}
              
              {% if customer.payment_lists != none %}
              <div>
                <p>About the payment:</p>
                {% for payment in customer.payment_lists %}
                <div class="d-flex">
                  <div class='px-2 pb-2'>Type: {{ payment.payment_type }}</div>
                  <div class='px-2 pb-2'>Reference: {{ payment.reference|floatformat:"2" }}</div>
                  <div class='px-2 pb-2'>Amount: {{ payment.amount_sum|floatformat:"2" }}</div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  <table>

  {% block js %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {% endblock %}

{% endblock content %}